Checks: "-*,
        bugprone-*,
        cert-*, -cert-err58-cpp
        clang-analyzer-*,
        modernize-*,
        performance-*,
        portability-*,
        readibility-*"
WarningsAsErrors: '*'
HeaderFilterRegex: '^include/'