Checks: "-*,
        bugprone-*,
        cert-*,
        clang-analyzer-*,
        modernize-*,
        performance-*,
        portability-*,
        readibility-*"
WarningsAsErrors: '*'
HeaderFilterRegex: '^include/'