* {
    display: block;
}

html, body {
    background: rgba(255, 255, 255, 0);
}

div {
    width: 800px;
    height: 800px;
    border-width: 10px;
    border-color: #000000;
}

.one {
    background-color: rgba(255, 0, 0, 0.6);
    margin-left: 50px;
    margin-top: 50px;
}

.two {
    background-color: rgba(0, 255, 0, 0.6);
    margin-left: 270px;
    margin-top: -600px;
}

.three {
    background: rgba(0, 0, 255, 0.6);
    margin-left: 490px;
    margin-top: -600px;
}

.blank {
    background: rgba(255, 255, 255, 0.6);
    margin-left: 270px;
}

.blank.horizontal {
    height: 300px;
    margin-top: 270px;
}

.blank.vertical {
    width: 300px;
    margin-top: -320px;
}